.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    height: 50%;
  }
  
  .buttons button {
    margin-right: 10px;
  }

  input[type="text"] {
    border: none; /* Remove the default border */
    border-bottom: 1px solid rgb(203, 157, 70); /* Add a bottom border */
    outline: none; /* Remove the outline when focused */
    padding: 5px 0; /* Adjust the padding as needed */
    
  }

  button {
    background-color: rgb(203, 157, 70); 
    text-align: center; 
    padding: 7px 15px; 
    color: white; 
    border: 1px solid;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  
  .close-button:focus {
    outline: none;
  }
  
  .close-button:hover {
    color: red;
  }
  