<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <h6>Mobiles</h6>
        </div>

        <div class="item">
            <h6>Footwear</h6>
            <ul>
                <li>Casual Shoes</li>
                <li>Flat Sandals</li>
                <li>Sports Shoes</li>
                <li>Flip Flop</li>
                <li>Slippers</li>
                <li>Heeled Sandals</li>
                <li>Heeled Shoes</li>
                <li>Boots</li>
              </ul>
        </div>

        <div class="item">
            <h6>Fashion</h6>
            <ul>
              <li>Men's Top wear</li>
              <li>Men's Bottom wear</li>
              <li>Women's Top wear</li>
              <li>Women's Ethnic</li>
              <li>Women's Western</li>
              <li>Women's Winter wear</li>
              <li>Men's winter wear</li>
            </ul>
          </div>

        <div class="item">
            <h6>Accessories</h6>
            <ul>
                <li>Sunglasses</li>
                <li>Watches</li>
                <li>Bag</li>
                <li>Belts</li>
                <li>Wallets</li>
                <li>Stoles & Scarves</li>
                <li>Socks</li>
                <li>Caps</li>
              </ul>
        </div>

        <div class="item">
            <h6>Beauty</h6>
            <ul>
                <li>Bath & Shower</li>
                <li>Body Sprays</li>
                <li>Face & Body</li>
                <li>Fragrance sets</li>
                <li>Hair Care</li>
                <li>Hair Styling</li>
                <li>Health Care</li>
                <li>Lips</li>
                <li>Makeup</li>
                <li>Nails</li>
                <li>Personal Care</li>
                <li>Skin Care</li>
                <li>Shampoos & Conditioner</li>
                <li>Oils</li>
                <li>Shaving tools</li>
            </ul>
        </div>

        <div class="item">
            <h6>Grocery</h6>
        </div>

        <div class="item">
            <h6>Home & Kitchen</h6>
            <ul>
                <li>Bedsheets</li>
                <li>Bedding sets</li>
                <li>Blankets</li>
                <li>Pillows</li>
                <li>Mattress</li>
                <li>Wall Shelves</li>
                <li>Wall Decor</li>
                <li>Pillow Cover</li>
                <li>Window curtains</li>
                <li>Door Curtains</li>
                <li>Mirrors</li>
                <li>Lamp, Diyas & Candle</li>
                <li>Home Fragrance</li>
                <li>Bells & Wind Chimes</li>
                <li>Decorative Pots & Jars</li>
                <li>Indoor fountain</li>
                <li>Religious Idols</li>
                <li>Vases</li>
                <li>Holders</li>
                <li>Laundry baskets</li>
                <li>Bathroom Organisers</li>
                <li>Bathing Stool</li>
                <li>Towel Sets</li>
                <li>Hand & Face Towel</li>
                <li>Bath Towel</li>
                <li>Mats</li>
              </ul>
        </div>

    </div>
</div>