<header>
    <div class="navbar shadow-sm" >
        <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size: 24px; color: rgb(203, 157, 70); margin-left: 10px; margin-right: 90px;">ShoppingZone</strong>     
                <!-- <div class="search">
                    <input type="search" name="search" class="search-field"  placeholder="Search product">
                </div> -->
               
            </div>
            
            <a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right: 35px; color: black;"></i></a>
            
           
        
    </div>
    
</header>